.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sectionAlt {
  background-color: var(--ifm-hover-overlay);
}
