version: '3.9'
name: code

services:

  build:
    build: 
      context: .
      dockerfile: Dockerfile
    tty: true
    volumes:
      - ../:/app
    environment:
      - BASE_URL=${BASE_URL:-http://localhost:3000}