name: "Deploy site to surge.sh"

on:
  pull_request:
    branches:
      - main
      - master 
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build-and-deploy:
    name: "Build and Deploy"
    runs-on: ubuntu-latest

    steps:
      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: 
            ~/.npm
          key: npm-${{ runner.os }}-${{ hashFiles('package.json') }}
          restore-keys: |
            ${{ hashFiles('package.json') }}
            npm-${{ runner.os }}-
            npm-
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2-beta
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Build PDF files (docker-compose)
        run: docker compose -f ./docker/docker-compose.yml up --build
        env:
          BASE_URL: "http://localhost:3000"


      - name: Change owner of build folder
        run: sudo chown -R $USER:$USER build

        # Copy pdf files to build/pdf folder
      - name: Copy pdf files to build/pdf folder
        run: cp -R pdf build/pdf

      - name: List files in build folder
        run: ls -laR build

      - name: Install Surge.sh
        run: npm install -g surge

      - name: Deploy to Surge.sh
        run: surge ./build https://pull-request-${{ github.event.pull_request.number }}-code.surge.sh/ --token ${{ secrets.SURGE_TOKEN }}

      - name: Comment on pull request
        uses: mshick/add-pr-comment@v1
        with:
          message: 'Uma nova versão está disponível em [https://pull-request-${{ github.event.pull_request.number }}-code.surge.sh](https://pull-request-${{ github.event.pull_request.number }}-code.surge.sh)/'
          repo-token: ${{ secrets.ACCESS_TOKEN  }}
          repo-token-user-login: "github-actions[bot]"
          allow-repeats: true
